* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--principalFont);
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
